.artist_bio {
    box-sizing: border-box;
    padding: 10px 30px;
}

.artist_bio .avatar span {
    width:130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    background-size: cover !important;
}

.artist_bio .bio h3{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin: 10px 0;
}

.artist_bio .bio .bio_text {
    font-weight: 200;
    font-size: 14px;
}

