body {
    margin: 0;
    padding: 0; 
    font-family: 'Roboto';
    color: #313131;
}

a {
    text-decoration: none;
    color: inherit; 
} 

/* header */
header, footer {
    border-bottom: 1px solid lightgray;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 22px;
    padding: 10px 0px;
}

/* latest */

.home-latest {
    box-sizing: border-box;
    padding: 0px;
}

.home-latest .item .image-cover {
    position: relative;
    background-size: cover !important;
    height: 200px;
}

.home-latest .item .description {
    position: absolute;
    bottom: 0;
}

.home-latest .item .description span {
    background: #00bcd4;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px; 
}

.home-latest .item .description div {
    padding: 10px;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    background: rgba(53,53,53,0.64);
    width: 40%;
}

/* other news */
.other-news {
    box-sizing: border-box;
    padding: 10px;
}

.other-news h3 {
    font-weight: 300;
}

.other-news-items .item {
    display: flex;
    border:1px solid #e6e6ee;
} 

.other-news-items .item .left {
    display: flex;
    width: 100px;
    height: 120px;
    background-size: cover !important;
    background-position: center center !important;
}

.other-news-items .item .right {
    width: 85%;
    height: 120px;
    padding: 10px 15px;
    box-sizing: border-box;
    position: relative;
}

.other-news-items .item .right  h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.other-news-items .item .right .category-tag {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #00bcd4;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #fff;
}

.other-news-items .item .right .tags {
    position: absolute;
    bottom: 0px;
}

.other-news-items .item .right .tags span {
    font-size: 13px;
    margin-right: 15px;
    color: #607d8b
}

/* galleies */

.home-gallerys {
    text-align: left;
}

.home-gallerys h2 {
    font-weight: 200;
    padding: 10px;
    margin-bottom: 0px;
}

.home-gallerys .slider-item .image {
    background-size: cover !important;
    background-position: center center !important;
    width: 100%;
    height: 370px;
    position: relative;
}

.home-gallerys .slider-item .image h3 {
    position: absolute;
    font-size: 30px;
    bottom: 0px;
    left: 20px;
    color: #fff;
}

/*  news  */

.news-container .tags {
    background: #f8f8f8;
    padding: 10px;
    color: #c5c5c5;
    font-size: 14px;
}

.news-container .tags span {
    margin-right: 15px
}

.news-container .top {
    box-sizing: border-box;
    padding: 10px;
}

.news-container .top h2 {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    line-height: 32px;
}

.news-container .top span {
    color: #00bcd4;
    font-weight: 300;
    font-size: 11px;
    margin-top: 10px;
    display: inline-block;
}

.news-container img {
    width: 100%;  
}

.news-container .body-news {
    padding: 20px;
    font-weight: 300;
    font-size: 17px;
}

/* galleries item */

.slide-item-wrap {
    font-weight: 300;
    text-align: center;
}

.slide-item-wrap .slide-item .image {
    height: 500px;
    background-size: cover !important;
    background-position: center center;
}

.slide-item-wrap .slide-item .description {
    box-sizing: border-box;
    padding: 20px;
    background: #dadada; 
}

/* like count */
.addlikes-wrapper {
    margin-bottom: 20px;
}

.addlikes-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addlikes-container .btn {
    cursor: pointer;
    text-align: center;
    background: #f8f8f8;
    flex: 1;
    color: #b6d2e8;
    font-size: 30px;
    padding: 20px;
}

.addlikes-container .btn:hover {
    background: #607d8b;
}

.addlikes-container .btn.like {
    border-right: 1px solid #fff;
}

.addlikes-container .btn.dislike {
    border-right: 1px solid #fff;
}